<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.example.Student" autowire="byType">
<!--        <property name="laptop" ref="lap1"/>-->
<!--        <property name="age" value="18"></property>-->
<!--        <constructor-arg value="34"/>-->
<!--        <constructor-arg  ref="lap1"/>-->
<!--        <property name="computer" ref="lap1"/>-->
        <constructor-arg name="computer" ref="desk1"/>
    </bean>
    <bean id="com" class="org.example.Laptop"></bean>
    <bean id="desk1" class="org.example.Desktop"></bean>
</beans>